// Base da fonte
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Oxygen:wght@300;400;700&display=swap');

$font-title-default: 'Open Sans Condensed', sans-serif;
$font-default: 'Oxygen', sans-serif;
// pesos da fonte 200, 300, 400, 600

// $grid-gutter-width: 30px;

// Cores
$primary: #2b3240;
$dark: #707070;
$gray: #706f6f;
$secondary: #f0d47c;
$white: #ffffff;
$brown-default: #74371a;
$brown-ligth: #b8623d;
$brown-dark: #2d1505;

$enable-shadows: 1;
// Customizando o modal
// $modal-backdrop-bg: $primary;
// $modal-backdrop-opacity: 1;

//Custom hamburger icon
$hamburger-layer-width: 30px;
$hamburger-layer-height: 5px;
// $hamburger-layer-spacing       : 9.5px;
$hamburger-layer-color: $primary;
$hamburger-layer-border-radius: 10px;
// $hamburger-hover-opacity       : 1;
// $hamburger-types: (
//   spring,
// );
