.page-home {
  .topo {
    position: relative;
    width: 100%;
    height: calc(100vh - 50px);
    i {
      @include box-i(absolute, 50vh);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: -80px top;
      //background-attachment: fixed;
    }

    .grid-container {
      position: relative;
      z-index: 1;
      height: 100%;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 50vh auto;
      gap: 0px 0px;
      grid-template-areas:
        ". topo-rs"
        "topo-chamada topo-wzap";
      .wrapper-chamada{
        width: 100%;
        height: auto;
        grid-area: topo-chamada;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .topo-chamada {
          padding: 0 0 0px 30px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: min-content;
          h1 {
            color: $secondary;
            font-size: 3.5rem;
            line-height: 1.1;
          }
          p {
            font-style: normal;
            font-weight: 400;
            font-size: 2rem;
            line-height: 3rem;
            letter-spacing: 0.02em;
            color: #707070;
          }
        }
      }

      .topo-wzap {
        grid-area: topo-wzap;
        position: fixed;
        bottom: 5px;
        right: 15px;
        a img {
          width: 50px;
        }
      }
    }
  }
  // topo

  .sobre {
    background: white;
    .row{
      margin: 0;
      .sobre-img {
        padding: 0px;
        img {
          margin-left: -15px;
          height: 100%;
          width: 100vw;
          object-fit: cover;
        }
      }
      .sobre-texto {
        height: max-content;
        padding: 15px;
        font-size: 20px;
        line-height: 1.5;
        background-color: white;
        color: $dark;
        p {
          margin-bottom: 25px;
        }
      }
    }
  }
  // sobre

  .tecnica {
    background-image: url("../../assets/images/Tecnicas/Fundo.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;

    .tecnica-item {
      margin: 50px 0px 50px 0px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      img {
        display: inline-block;
        margin-right: 20px;
      }
      p {
        display: inline-block;
        color: white;
        font-family: $font-default;
        font-size: 1.5rem;
      }
    }

    .tecnica-btn {
      display: block;
      background-color: $secondary;
      color: $primary;
      padding: 20px;
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 15px;
      font-family: $font-default;
    }
  }
  // tecnica

  .banner .container-video {
    .row {
      flex-direction: row-reverse;
      h2 {
        margin-top: 10%;
        font-weight: 400;
        color: $black;
        font-size: 3.5rem;
      }
      p {
        margin: 10% 0;
        font-size: 1.5rem;
        color: $black;
        img {
          margin-right: 15px;
        }
      }
    }
  }
  // video

  .espaco {
    background-color: $primary;
    position: relative;
    #espaco-wrapper {
      display: grid;
      grid-template-rows: 1fr 1fr;
      gap: 30px;
      img{
        max-width: 100%;
        object-fit: cover;  
      }
    }
  }
  // espaco

  .depoimentos {
    padding: 10vh 0;
    .depoimentos-slider{
      margin-top: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .depoimento-card{
        display: inline-block;
        width: 100%;
        margin: 0 25px;
        font-size: 1.5rem;
        .depoimento-card-conteudo{
          display: flex;
          flex-direction: row;
          img{
            width: 40px;
            height: 30px;
            margin-right: 30px;
          }
        }
        .depoimento-card-autor{
          margin-left: 70px;
          &::before{
            content: "";
            display: inline-block;
            position: static;
            margin: 0px 10px 5px 0px;
            width:  20%;
            height: 5px;
            background-color: $secondary;
          }
        }
      }
    }
    .swiper-pagination{
      bottom: -80px;
    }
  }
  //
  .depoimentos-slider {
    margin-bottom: 116px;
    position: relative;
    z-index: 0;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: -60px;
  }
  .swiper-container-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 16px;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: transparent;
    opacity: 10;
    border: 1px solid $primary;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
    background: $primary;
  }
  // configurações do swiper

  .contato {
    #simbolo {
      display: none;
    }
    background-color: $primary;
    p {
      color: $white;
      font-size: 1.7rem;
      line-height: 1.5;
    }
    form {
      margin: 50px 0 50px 0;
    }
    input,
    textarea {
      padding: 20px;
      margin: 10px 0;
      width: 100%;
      resize: none;
      background-color: transparent;
      color: white;
      box-shadow: none;
      border: none;
      border-bottom: $secondary solid 2px;
      &:focus {
        outline: none;
      }
      &::placeholder {
        font-size: 1.4rem;
        color: $white;
        opacity: 1;
      }
    }
    .btn-wrapper {
      input {
        width: 100%;
        padding: 15px;
        border: none;
        background-color: $secondary;
        color: $primary;
        font-family: $font-default;
      }
    }
  }
  // contato
}

/*
=====================================================
Medium devices (tablets, 768px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/
@include media-breakpoint-up(md) {
  .page-home {
    .topo {
      position: relative;
      i {
        @include box-i(absolute, 40vh);
        background-position: center center;
      }
      .grid-container {
        height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 40vh auto;
        gap: 0px 0px;
        .wrapper-chamada{
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .topo-chamada {
            padding-top: 0%;
            padding-bottom: 0%;
            height: 100%;
            h1 {
              font-size: 5.9rem;
              line-height: 1.1;
            }
            p {
              font-size: 2rem;
              line-height: 3rem;
            }
          }
        }
        .topo-wzap {
          a {
            width: 55px;
            height: 55px;
            padding: 3px;
          }
        }
      }
    }
    // topo
    
    .sobre {
      .row{
        .sobre-img {
          height: 100%;
          margin-left: -24px;
          img {
            object-position: center 40%;
          }
        }
        .sobre-texto{
          padding: 45px 0px;
        }
      }
    }
    // sobre
    
    .tecnica {
      padding: 100px 0px;
      .titulo {
        width: 100%;
      }
      .row{
        display: flex;
        justify-content: center;
        .tecnica-item {
          margin-bottom: 50px;
          p {
            font-size: 2rem;
          }
        }
      }
      .tecnica-btn-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .tecnica-btn {
          margin-top: 5%;
          width: 150px;
        }
      }
    }
    // tecnica
    
    .banner .container-video {
      padding: 20px;
      .row{
        h2 {
          font-size: 3rem;
          line-height: normal;
          color: $black;
          margin-top: 10%;
        }
        p {
          color: $black;
          margin: 15% 0;
          font-size: 1.5rem;
  
          img {
            height: 40px;
          }
        }
      }
    }
    // banner
    
    .espaco {
      background-color: $primary;
      position: relative;
      .titulo{
        width: max-content;        
      }
      #espaco-wrapper {
        grid-template-rows: 1fr 1fr 1fr;
        margin-top: -9.7rem; // Tamanho do titulo (soma das alturas do h1, h3 e margens do h1)

        #espaco-item1 {
          grid-column: 1;
          grid-row: 1/4;
          grid-row-start: 2;
          max-width: 100%;        
        }
        #espaco-item2 {
          grid-column: 2;
          grid-row: 1/3;
          max-width: 100%;        
        }
        #espaco-item3 {
          grid-row: 3/4;
          grid-column: 2;
          max-width: 100%;        
        }
      }
    }
    // espaco

    .depoimentos{
      .depoimento-card{
        .depoimento-card-conteudo{
          font-size: 1.7rem;
        }
        .depoimento-card-autor{
          font-size: 1.7rem;
        }
      }
      .depoimentos-slider{
        margin: 125px 0 100px 0;
        font-size: 1.5rem;
      }
      .swiper-pagination{
        bottom: -100px;
      }
    }
    // depoimentos

    .contato {
      #simbolo {
        position: absolute;
        display: block;
        height: 80%;
        right: 0px;
        bottom: 0px;
      }
      .row{
        margin-top: 50px;
        p {
          padding-right: 50px;
        }
        
        .wrapper-form{
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: center;
          form {
            margin: 0;
            width: 100%;
            input#nome{
              margin-top: 0;
            }
            .btn-wrapper {
              width: 100%;
              text-align: right;
              input {
                width: 30%;
              }
            }
          }
        }
      }
    }
    // contato
  }
}
// 768px

/*
=====================================================
Large devices (desktops, 992px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/
@include media-breakpoint-up(lg) {
  .page-home {
    .header {
      .navbar {
        padding: 30px 30px;
      }
    }

    .topo {
      height: 100vh;
      i {
        @include box-i(absolute, 100vh);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left top;
      }
      .grid-container {
        height: 100vh;
        position: relative;
        z-index: 1;
        display: grid;
        grid-template-columns: 55% 35% 10%;
        grid-template-rows: 100%;
        gap: 0px 0px;
        grid-template-areas: ". topo-chamada-desktop topo-rs-desktop";
        .wrapper-chamada{
          grid-area: topo-chamada-desktop;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          topo-chamada {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0;
            p {
              font-size: 3.2rem;
              line-height: 4.2rem;
              letter-spacing: 0.02em;
            }
          }
        }
        .topo-wzap {
          margin-right: 20px;
          margin-bottom: 25px;
          a img {
            width: 80px;
          }
        }
      }
    }
    // .topo
    .sobre {
      background-color: whitesmoke;
      .row{
        .sobre-img {
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          img {
            height: 60%;
            object-fit: cover;
            margin-bottom: 15%;
          }
        }
        .sobre-texto {
          margin-left: 20px;
          padding-left: 30px;
          height: fit-content;
          margin-top: 3%;
          width: 100%;
          p {
            font-size: 1.5rem;
            padding-left: 100px;
            padding-right: 5%;
          }
          .titulo{
            margin-left: 100px;
          }
        }
      }
    }
    // sobre
    .tecnica {
      .row{
        margin-top: 50px;
        .tecnica-item {
          p {
            font-size: 3rem;
          }
        }
      }
    }
    // tecnica
    .banner .container-video {
      .row{
        h2{
          font-size: 4.5rem;
        }
        p{
          img{
            height: 100%;
          }
        }
      }
    }
    // banner
    .depoimentos{
      .depoimentos-slider{
        .depoimento-card{
          .depoimento-card-conteudo{
            font-size: 2rem;
          }
          .depoimento-card-autor{
            font-size: 2rem;
          }
        }
      }
    }
    // depoimentos
    .contato {
      height: auto;
      .row{
        margin-top: 100px;
        p {
          font-size: 2rem;
        }
        .wrapper-form{
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          form {
            padding-left: 50px;
            input,
            textarea {
              
              &::placeholder {
                font-size: 1.6rem;
              }
            }
          }
        }
      }
    }
    // contato
  }
}
// 992px

// Controle para telas grandes full hd
@media (min-width: 1440px) {
  .page-home {
    .topo {
      .grid-container {
        .topo-chamada {
          padding: 0 0 0 70px;
          h1 {
            width: 85%;
          }
          p {
            width: 65%;
          }
        }
      }
    }
    .sobre {
      .sobre-img {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 75%;
          width: 100vw;
          object-fit: cover;
        }
      }
      .sobre-texto {
        width: 50%;
        height: fit-content;
        margin-top: 2%;
        p {
          font-size: 2rem;
          padding-left: 100px;
          padding-right: 5%;
        }
      }
    }
    .banner{
      padding: 25px 0;
      .container-video{
        .row{
          h2{
            font-size: 6rem;
          }
          p{
            font-size: 2rem;
            margin: 20% 0;
          }
        }
      }
    }
  }
}
// 1470px
