.titulo{
  position: relative;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: $font-default;
  display: inline-block;
  h1{
    margin-left: 0;
    padding-left: 0;
    font-size: 3rem;
    line-height: normal;
    font-weight: 400;
  }
  h3{
    font-size: 1.5rem;
    margin-bottom: 0px;
  }
  &.invertido{
    h3{
      color: $white;
    }
    h1{
      color: $white;
    };
  }
  &::before{
    content: "";
    display: inline-block;
    position: absolute;
    left: -90px;
    top: 3px;
    width: 80px;
    height: 10px;
    background-color: $secondary;
  }
}

/*
=====================================================
Large devices (desktops, 768px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/
@include media-breakpoint-up(md){
  .titulo{
    margin-top: 0;
    margin-bottom: 0;
    h1{
      line-height: normal;
      font-size: 4rem;
    }
    &::before{
      left: -170px;
      width: 150px;
    }
  }
}
/*
=====================================================
Large devices (desktops, 992px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/
@include media-breakpoint-up(lg){
  .titulo{
    position: relative;
    margin-bottom: 0;
    h1{
      font-size: 4.5rem;
      line-height: normal;
    }
    &::before{
      content: "";
      display: inline-block;
      position: absolute;
      left: -100px;
      width: 80px;
      background-color: $secondary;
    }
  }
}