.veja-tambem {
  position: relative;
  background: #b8623d;
  i {
    @include box-i();
    background-size: cover;
    mix-blend-mode: multiply;
    opacity: 0.1;
    z-index: 0;
    background-position: 0;
    background-repeat: no-repeat;
  }
  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 4.4rem;
    line-height: 5.2rem;
    text-align: center;
    color: #f3dec3;
    margin-bottom: 40px;
  }
}

.single-tratamentos,
.single-noticias {
  .veja-tambem.gap-padrao {
    padding: 45px 15px 110px 15px;
  }
  .veja-tambem {
    .swiper-slide {
      a {
        margin-bottom: 45px;
        &:hover {
          text-decoration: none;
        }
        &:hover .tratamentos-card_foto img {
          transition: all 0.2s ease-in-out;
          opacity: 0.7;
        }
        &:hover .tratamentos-card_text {
          transition: all 0.2s ease-in-out;
          background-color: #fbf3e9;
          text-decoration: none;
        }
      }
    }
    .tratamentos {
      &-card {
        background-color: $white;
        padding: 0;
        border-radius: 30px;
        overflow: hidden;
        height: 100%;
      }
      &-card_foto {
        background-color: $white;
        img {
          mix-blend-mode: multiply;
        }
      }
      &-card_text {
        padding: 15px 20px 15px 20px;
        background-color: $white;
        min-height: 120px;
        h2 {
          font-style: normal;
          font-weight: 600;
          font-size: 2.2rem;
          line-height: 3.2rem;
          color: #c8a97b;
          margin-bottom: 25px;
        }
        p {
          font-style: normal;
          font-weight: normal;
          font-size: 1.6rem;
          line-height: 2.8rem;
          letter-spacing: 0.02em;
          color: #2d1505;
        }
      }
    }
    .vejatambem-slider {
      .swiper-container-horizontal > .swiper-pagination-bullets,
      .swiper-pagination-custom,
      .swiper-pagination-fraction {
        bottom: -60px;
      }
      .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 16px;
      }
      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background: transparent;
        opacity: 10;
        border: 1px solid #fff;
      }
      .swiper-pagination-bullet-active {
        opacity: 1;
        background: #fff;
      }
    }
  }
}

// Ajuste na dobra veja também da single de notícias
.single-noticias {
  .veja-tambem.gap-padrao {
    padding: 45px 15px 45px 15px;
  }
  .veja-tambem {
    .dicas-slider {
      margin-bottom: 0;
    }
  }
}

/*
=====================================================
Large devices (desktops, 992px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/
@include media-breakpoint-up(lg) {
  .veja-tambem {
    i {
      background-position: -400px 0;
    }
    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 58px;
      line-height: 72px;
      text-align: center;
      color: #f3dec3;
      margin-bottom: 60px;
    }
  }
  .single-tratamentos,
  .single-noticias {
    .veja-tambem.gap-padrao {
      padding: 110px 30px 110px 30px;
    }
  }
}
// 992px

// Controle para telas grandes full hd
@media (min-width: 1470px) {
  .veja-tambem {
    i {
      background-position: 0;
    }
  }
}
// 1470px
